# Python
__pycache__/
*.pyc
venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
.env.local

# Environment files
.env
*.env
backend/.env
frontend/.env

# OS / editor
.DS_Store
.vscode/
.idea/